# Jira Cloud
JIRA_URL=https://soludevtech.atlassian.net
JIRA_USERNAME=soludevtech@gmail.com
JIRA_API_TOKEN=xxx

# Confluence (optionnel)
CONFLUENCE_URL=https://soludevtech.atlassian.net/wiki
CONFLUENCE_USERNAME=soludevtech@gmail.com
CONFLUENCE_API_TOKEN=xxx
